<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Social Network - Register</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/login.css">

</head>
<body>
    <div class="container-login">
        <div>
            <form class="social-network-form" id="form-register">
                <span>Register NOW!</span>
                <div>
                    <input type="text" name="name" id="name" placeholder="Your name" required="required">
                </div>
                <div>
                    <input type="text" name="nick-name" id="nick-name" placeholder="Your nick name" required="required">
                </div>
                <div>
                    <input type="text" name="email" id="email" placeholder="Your email" required="required">
                </div>
                <div>
                    <input type="password" name="password" id="password" placeholder="Your password" required="required">
                </div>
                <div>
                    <input type="password" name="confirm-password" id="confirm-password" placeholder="Confirm your password" required="required">
                </div>
                <a href="/login">Login</a>
                <button type="submit" class="btn-social-network">Register</button>
            </form>
        </div>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/register.js"></script>
</body>
</html>